<div class="modal" id="txtModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="text-center filtergroup">Add a new job post</h4>
        </div>
        <div class="modal-body">
          <form id="addjobform" name="addjobform" action="/jobs" method="POST" novalidate ng-init="newjob">

            <div class="form-group">
              <label for="jobtype">Job Type:</label>
                <select name="jobtype" form="addjobform" ng-model="newjob.jobtype" required>
                  <option value="Full-time">Full-time</option>
                  <option value="Part-time">Part-time</option>
                  <option value="Contract">Contract</option>
                  <option value="Temporary">Temporary</option>
                </select>
            </div>

            <div class="form-group">
              <label for="location">Job Location (city):</label>
                <select name="location" form="addjobform" ng-model="newjob.location" required>
                  <option value="Portland" >Portland</option>
                <option value="Beaverton" >Beaverton</option>
                <option value="Hillsboro">Hillsboro</option>
                <option value="Gresham">Gresham</option>
                <option value="Vancouver, WA">Vancouver, WA</option>
                </select>
            </div>

            <div class="form-group">
              <label for="geography">Geographic area:</label>
                <select name="geography" form="addjobform" ng-model="newjob.geography" required>
                  <option value="North">North</option>
                  <option value="Northeast">Northeast</option>
                  <option value="Northwest">Northwest</option>
                  <option value="Southeast">Southeast</option>
                  <option value="Southwest">Southwest</option>
                  <option value="West Suburbs">West Suburbs</option>
                </select>
            </div>

            <div class="form-group">
              <label for="zipcode">Zip Code (5 digit):</label>
              <input type="number" id="zipcode" name="zipcode" placeholder="Zip" min="97000" max="97999" ng-model="newjob.zipcode" required>
            </div>

            <div class="form-group">
              <label for="jobtitle">Job Title:</label>
              <input type="text" class="form-control" ng-model="newjob.jobtitle" name="jobtitle" id="jobtitle"  required>
            </div>
            
            <div class="form-group">
              <label for="company">Company:</label>
              <input type="text" class="form-control" name="company" id="company" placeholder="Company" ng-model="newjob.company" required>
            </div>

            <div class="form-group">
              <label for="textarea">Description:</label>
              <textarea form="addjobform" name="description" class="form-control" rows="8" placeholder="Description" ng-model="newjob.description" required></textarea>
            </div>

            <div class="form-group">
              <label for="contact">Contact Information:</label>
              <input type="text" class="form-control" id="contact" name="contact" placeholder="Contact information" ng-model="newjob.contact" required>
            </div>

            <a href="#/" class="btn btn-primary" data-dismiss="modal" ng-disabled="addjobform.$invalid" ng-click="addJob(addjobform.$valid, newjob)">Add job</a>
          </form>
        </div>
      </div>
    </div>
</div>    
